html, body {
    margin:0;
    padding:0;
    height: 100%;
    font-family: "Trebuchet MS";
    font-size: 0.9em;
    text-align: center;
    background-color: #fff;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#FFC814;
}

a {
    color:#23A4FF;
}
#header {
    height: 48px;
    margin: 0 auto;
    background-color: #664B97;
    color: #C79900;
    line-height: 42px;
    font-size: 2em;
}

#footer{
    bottom: 0;
    text-align: left;
    height: 28px;
    background-color: #664B97;
    line-height: 25px;
    color: #C79900;
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

#info {
    text-align: left;
    position: relative;
    clear: both;
    padding-top: 1em;
}

#container {
    width: 1000px;

    margin:0 auto;
    padding: 2em 3em;
}

#right-container, 
#center-container {
    height:600px;
    float: left;
}

#right-container {
    background-position:center left;
    border-radius: 0px 5px 5px 0px;
    width:200px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#B3A1D4;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:800px;
    border-radius: 5px 0px 0px 5px;
    background-color:#101323;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position:relative;
    width:800px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}